<div>
  <br>
  <form #roomForm="ngForm" (submit)="addRoom()" class="form-inline">
    <div class="form-group">
      <label for="name">Room name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="room.name" required>
    </div>
    <button class="btn btn-primary btn-submit" type="submit" [disabled]="!roomForm.form.valid">Add</button>
    <button class="btn btn-danger" type="button" [disabled]="!selectedRoom" (click)="removeRoom()">Remove selected</button>
  </form>
  <br>
</div>

<div class="list-group">
  <a href="#" class="list-group-item" *ngFor="let room of rooms" (click)="selectRoom(room)" 
    [ngClass]="{ 'active' : selectedRoom?.name == room.name }">{{room.name}}</a>
</div>
