<ul class="nav nav-tabs">
  <li role="presentation" *ngFor="let room of rooms" [ngClass]="{ 'active' : room.isActive }">
    <a href="" (click)="selectRoom(room.name)">{{room.name}}</a>
  </li>
</ul>

<div *ngIf="selectedRoomName">
  <div>
    <div *ngIf="pizzas > 0">
      <h4>
        <span *ngIf="!isApproved">
          <strong>{{slicesToGet}}</strong> {{ slicesToGet == 1 ? 'slice' : 'slices' }} of
          <strong>{{pizzas}}</strong> {{ pizzas == 1 ? 'pizza' : 'pizzas' }} to get
        </span>
        <span *ngIf="isApproved">
          <strong>{{pizzas}}</strong> {{ pizzas == 1 ? 'pizza' : 'pizzas' }} approved
        </span>
      </h4>
    </div>
    <div *ngIf="pizzas == 0">
      <h4>No orders</h4>
    </div>

    <form #orderForm="ngForm" (submit)="makeOrder()" class="form-inline">
      <div class="form-group">
        <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="order.quantity" placeholder="Number of slices"
          [disabled]="isApproved" required>
        <button class="btn btn-primary btn-submit" type="submit" [disabled]="!orderForm.form.valid || isApproved">Grab</button>
        <button class="btn btn-danger" type="button" (click)="cancel()" [disabled]="isApproved">Cancel</button>
        
        <button class="btn btn-warning" type="button" (click)="approveOrders()" [disabled]="isApproved || pizzas == 0">Approve orders</button>
        <!-- <button class="btn btn-success" type="button" (click)="refresh()">Refresh</button> -->
      </div>
    </form>
    <br>
  </div>

  <br>

  <div class="col-md-10" *ngIf="pizzas > 0">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColours" 
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>

<div *ngIf="!selectedRoomName">
  <h3>Choose your room</h3>
</div>