<div class="login-header">
  <h1 class="login-logo">Hot Onion</h1>
  <h3>Sign in to grab your slice</h3>
</div>
<div class="card card-container">
  <!-- <div [ngBusy]="{busy: busy, message: 'Proszę czekać...', backdrop: false, delay: 200, minDuration: 600}"></div> -->
  <img src="assets/login_avatar.png" class="profile-img-card" />
  <p id="profile-name" class="profile-name-card"></p>
  <form class="form-signin" #loginForm="ngForm" (submit)="submit()">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="email" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="user.email" required autofocus>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" required>
    <!--<div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>-->
    <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit" [disabled]="!loginForm.form.valid">{{isLoggingIn ? 'Sign In' : 'Sign Up'}}</button>
    <button class="btn btn-lg btn-primary btn-block btn-toggle" type="button" (click)="toggleDisplay()">{{isLoggingIn ? 'Sign Up' : 'Back to Login'}}</button>
  </form>
  <!--<p>
      <a href="#" class="forgot-password">
        Forgot the password?
      </a>
    </p>-->
</div>