<div class="card">
    <div class="card-block">
      <form #changePasswdForm="ngForm" (submit)="changePassword()">
        <fieldset>
          <legend>User password changing {{model.email}}</legend>
          <label class="k-form-field">
            <span>Current password<span class="k-required">*</span></span>
            <input type="password" name="currentPassword" [(ngModel)]="model.currentPassword" required />
          </label>
          <label class="k-form-field">
            <span>New password<span class="k-required">*</span></span>
            <input type="password" name="newPassword" [(ngModel)]="model.newPassword" required />
          </label>
          <label class="k-form-field">
            <span>New password again<span class="k-required">*</span></span>
            <input type="password" name="newPassword2" [(ngModel)]="model.newPassword2" required />
          </label>
        </fieldset>

        <br />
        <div class="text-right">
          <button class="k-button k-primary" type="submit" [disabled]="!changePasswdForm.form.valid">Change password</button>
        </div>

      </form>
    </div>
  </div>